In [1]:
import pandas as pd
import datetime
import yfinance as yf #baixar as cotações de graça!
from matplotlib import pyplot as plt 
import smtplib

In [2]:
ativos =['^BVSP','BRL=X']

hoje = datetime.datetime.now()
um_ano_atras = hoje - datetime.timedelta(days = 365)

dados_mercado = yf.download(ativos, um_ano_atras, hoje) #puxando os dados do ultimo ano

display(dados_mercado)

[*********************100%***********************]  2 of 2 completed

           Adj Close             Close              High                 Low  \
               BRL=X     ^BVSP   BRL=X     ^BVSP   BRL=X     ^BVSP     BRL=X
Date
2022-04-12    4.6936  116147.0  4.6936  116147.0  4.6971  118615.0  4.621500
2022-04-13    4.6731  116782.0  4.6731  116782.0  4.7023  117329.0  4.653200
2022-04-14    4.6902  116182.0  4.6902  116182.0  4.7381  116781.0  4.669788
2022-04-15    4.7010       NaN  4.7010       NaN  4.7100       NaN  4.696500
2022-04-18    4.7006  115687.0  4.7006  115687.0  4.7049  116191.0  4.659300
...              ...       ...     ...       ...     ...       ...       ...
2023-04-05    5.0707  100978.0  5.0707  100978.0  5.0743  101960.0  5.027504
2023-04-06    5.0332  100822.0  5.0332  100822.0  5.0789  101628.0  5.028911
2023-04-07    5.0583       NaN  5.0583       NaN  5.0585       NaN  5.004350
2023-04-10    5.0544  101847.0  5.0544  101847.0  5.0887  102196.0  5.045100
2023-04-11    5.0653  106214.0  5.0653  106214.0  5.0676  106455.0  4.989000

                        Open           Volume
               ^BVSP   BRL=X     ^BVSP  BRL=X       ^BVSP
Date
2022-04-12  116054.0  4.6936  116963.0      0  11406800.0
2022-04-13  116150.0  4.6731  116150.0      0  12070500.0
2022-04-14  115624.0  4.6902  116781.0      0  10365400.0
2022-04-15       NaN  4.7010       NaN      0         NaN
2022-04-18  115177.0  4.7006  116182.0      0   8404900.0
...              ...     ...       ...    ...         ...
2023-04-05   99898.0  5.0707  101869.0      0  13256500.0
2023-04-06  100443.0  5.0332  100978.0      0   9818500.0
2023-04-07       NaN  5.0583       NaN      0         NaN
2023-04-10  100819.0  5.0544  100822.0      0   8148700.0
2023-04-11  101848.0  5.0653  101849.0      0  18725700.0

[261 rows x 12 columns]

In [3]:
dados_fechamento = dados_mercado['Adj Close']
dados_fechamento.columns = ['dolar', 'ibovespa']
dados_fechamento  = dados_fechamento.dropna()#retirar os dados que contem NaN, pois nao podemos trabalhar com dados faltantes
dados_fechamento.head(50) #apresentar os 50 primeiros elementos

               dolar  ibovespa
Date
2022-04-12  4.693600  116147.0
2022-04-13  4.673100  116782.0
2022-04-14  4.690200  116182.0
2022-04-18  4.700600  115687.0
2022-04-19  4.652000  115057.0
2022-04-20  4.665000  114344.0
2022-04-22  4.620800  111078.0
2022-04-25  4.795200  110685.0
2022-04-26  4.876200  108213.0
2022-04-27  4.997800  109349.0
2022-04-28  4.963600  109919.0
2022-04-29  4.937800  107876.0
2022-05-02  4.971300  106639.0
2022-05-03  5.084700  106528.0
2022-05-04  4.958100  108344.0
2022-05-05  4.918800  105304.0
2022-05-06  5.028000  105135.0
2022-05-09  5.080400  103250.0
2022-05-10  5.160900  103110.0
2022-05-11  5.131300  104397.0
2022-05-12  5.134252  105688.0
2022-05-13  5.133400  106924.0
2022-05-16  5.058300  108233.0
2022-05-17  5.059700  108789.0
2022-05-18  4.938100  106247.0
2022-05-19  4.967500  107005.0
2022-05-20  4.930000  108488.0
2022-05-23  4.880200  110346.0
2022-05-24  4.813500  110581.0
2022-05-25  4.817800  110580.0
2022-05-26  4.822800  111890.0
2022-05-27  4.768200  111942.0
2022-05-30  4.729600  111032.0
2022-05-31  4.752400  111351.0
2022-06-01  4.730400  111360.0
2022-06-02  4.815500  112393.0
2022-06-03  4.795700  111102.0
2022-06-06  4.775000  110186.0
2022-06-07  4.794200  110070.0
2022-06-08  4.867526  108368.0
2022-06-09  4.898100  107094.0
2022-06-10  4.903300  105481.0
2022-06-13  4.984000  102598.0
2022-06-14  5.113400  102063.0
2022-06-15  5.116100  102807.0
2022-06-17  5.052200   99825.0
2022-06-20  5.152100   99853.0
2022-06-21  5.187200   99685.0
2022-06-22  5.122800   99522.0
2022-06-23  5.193600   98080.0

In [4]:
dados_fechamento_mensal = dados_fechamento.resample('M').last() #funcao para fechamento do ultimo mes
#M -> MENSAL, Y -> anual
dados_fechamento_anual = dados_fechamento.resample('Y').last() 
dados_fechamento_anual

             dolar  ibovespa
Date
2022-12-31  5.2668  110031.0
2023-12-31  5.0653  106214.0

In [5]:
r_ano = dados_fechamento_anual.pct_change().dropna()
r_mes = dados_fechamento_mensal.pct_change().dropna()
r_dia = dados_fechamento.pct_change().dropna()
r_dia

               dolar  ibovespa
Date
2022-04-13 -0.004368  0.005467
2022-04-14  0.003659 -0.005138
2022-04-18  0.002217 -0.004261
2022-04-19 -0.010339 -0.005446
2022-04-20  0.002794 -0.006197
...              ...       ...
2023-04-04  0.000158  0.003576
2023-04-05  0.001501 -0.008747
2023-04-06 -0.007396 -0.001545
2023-04-10  0.004212  0.010166
2023-04-11  0.002157  0.042878

[249 rows x 2 columns]

In [6]:
#r_dia.loc['2023-04-06', 'dolar'] #digitacao manual do dia que deseja.
r_dia_dolar = r_dia.iloc[-1, 0]
r_dia_ibovespa = r_dia.iloc[-1, 1]

r_mes_dolar = r_mes.iloc[-1, 0]
r_mes_ibovespa = r_mes.iloc[-1, 1]

r_ano_dolar = r_ano.iloc[-1, 0]
r_ano_ibovespa = r_ano.iloc[-1, 1]


r_ano_dolar

-0.03825851404400793

In [7]:
r_dia_dolar = round(r_dia.dolar * 100, 2) #deixando aparentavel com duas casas decimais
r_dia_ibovespa = round(r_dia.dolar * 100, 2)

r_mes_dolar = round(r_mes_dolar * 100, 2)
r_mes_ibovespa = round(r_mes_ibovespa  * 100, 2)

r_ano_dolar = round(r_ano_dolar * 100, 2)
r_ano_ibovespa = round(r_ano_ibovespa  * 100, 2)


r_ano_ibovespa

-3.47

In [8]:
'''plt.style.use('cyberpunk')
dados_fechamento.plot(y = 'ibovespa', use_index = True, legend = False)
plt.title('ibovespa')
plt.savefig('ibovespa.png', dpi=300) #salvar o grafico, usar o modelo da imagem e a qualidade(nao é exatamente necessario)
'''

"plt.style.use('cyberpunk')\ndados_fechamento.plot(y = 'ibovespa', use_index = True, legend = False)\nplt.title('ibovespa')\nplt.savefig('ibovespa.png', dpi=300) #salvar o grafico, usar o modelo da imagem e a qualidade(nao é exatamente necessario)\n"

In [9]:
'''plt.style.use('cyberpunk')
dados_fechamento.plot(y = 'dolar', use_index = True, legend = False)
plt.title('dolar')
plt.savefig('dolar.png', dpi=300) #salvar o grafico, usar o modelo da imagem e a qualidade(nao é exatamente necessario)
'''

"plt.style.use('cyberpunk')\ndados_fechamento.plot(y = 'dolar', use_index = True, legend = False)\nplt.title('dolar')\nplt.savefig('dolar.png', dpi=300) #salvar o grafico, usar o modelo da imagem e a qualidade(nao é exatamente necessario)\n"